<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="default.css">
	<title>蔵書管理</title>
</head>
<body>
<h1>蔵書管理</h1>
<h2>蔵書データの登録</h2
<p>下記の蔵書データを登録しました | 
<a href="entry.erb">もう一件追加</a> | 
<a href="list.erb">蔵書データの表示</a> | 
<a href="index.html">メニュー画面に戻る</a></p>
<hr>
<table>
	<th>項目名</th><th>登録データ</th>
<% ['id','title','author', 'page','publish_date'].each do |name| %>
	<tr>
		<td><%= name %></td>
		<td><%= req.query[name] %></td>
	</tr>
<%end%>
</table>
</body>
</html>