<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="default.css">
	<title>蔵書管理</title>
</head>
<body>
<h1>蔵書管理</h1>
<h2>指定したidはすでに使用されています</h2
<p>登録データを変更してから実行してください | 
<a href="entry.erb">蔵書データの登録画面へ戻る</a> | 
<a href="list.erb">蔵書データの表示</a> | 
<a href="index.html">メニュー画面に戻る</a></p>
<hr>
</body>
</html>