<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset = "UTF-8" />
	<link rel = "stylesheet" type="text/css" href = "default.css">
	<title>蔵書管理</title>
</head>
<body>
<h1>蔵書管理</h1>
<h2>処理内容が選択されていません</h2>
<p>蔵書データを選択してから実行してください | 
<a href="list.erb">蔵書データの表示</a> |
<a href="index.html">メニュー画面に戻る</a>
</p>
<hr>
</body>
</html>